/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 31, 2019, 9:26:27 AM
    Author     : sergio
*/

html{
    width: 768px;
    magin:auto;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: #EAEAE8;
}

ul{
  margin:0px;
  padding:0px;
  list-style:none;
}


#header_arriba #logo{
    float:left;
    
}
#menu_navegacion ui li{
    float:left;
    
}

@media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }
}