/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 11, 2019, 10:18:03 AM
    Author     : sergio
*/

body {
    height: 100%;
    background-color: #173F5F;
}

form {
    padding: 20px;
}

.container {
    width: 60%;
    margin: auto;
    /*padding: 100px;*/
    border: 10px solid gray;
    border-radius: 50px;
    background-color: #0059B2;
    color: white;

}

aside {
    padding: 20px;
    text-align: center;
}

aside p {
    color: white;
}