body {
  margin: auto;
  background-color: #3D98D1;
}

h1 {
  text-align: center;
}

.container {
  width: 50%;
  margin: auto;
}

.container p {
  text-align: center;
}

p {
  color: #685206;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
}

form {
  width: 50%;
  margin: auto;
  padding: 10px;
  background-color: #224363;
  border-radius: 5px;
  border: 1px bisque solid;
  margin-top: 15px;
  margin-bottom: 20px;
}

form fieldset {

  border-radius: 8px;
  box-sizing: border-box;
}

form fieldset legend {
  background-color: beige;
  border-radius: 5px;
  border: 1px bisque solid;
  padding: 5px;
  background-color: white;
}

form input {
  margin: 10px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  background-color: #ffc5e8;
}

li {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  padding: 4px;
  border: 2px solid #505050;
  border-bottom: 0px;
  width: 100%;
  background-color: #FFFFFF;
}

li:first-child {
  border-radius: 6px 6px 0px 0px;
}


li:last-child {
  border-radius: 0px 0px 6px 6px;
  border-bottom: 2px solid #505050;
}

i {
  margin: 4px;
}

a {
  text-decoration: none;

}

p a:hover {
  text-decoration: none;
  background-color: yellow;
}

#tareas {
  width: 50%;
  margin: auto;
  padding: 10px;
  background-color: beige;
  border-radius: 5px;
  border: 1px #224363 solid;
  margin-top: 15px;
  margin-bottom: 20px;
}


.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
  border-radius: 5px;
}

/*Boton*/
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}