
body{
  background-color: #989393;
  width: 80%;
  margin: auto;
}

#main_cabecera{
    
}

#main_container{
  width: 100%;
  margin-top: 50px;
  
}



#cabecera {
font-family: "Lucida Console", Monaco, monospace;
font-size: 19px;
letter-spacing: 3.8px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: italic;
font-variant: small-caps;
text-transform: none;
}

#custom_select select{
    display:none;
    
}

.container{
  text-align: center;
  padding-top: 50px;
}

.container ul,li{
  display:inline;
  list-style-type: none;
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

.container img{
  max-height: 500px;
  border: 15px solid black;
  background-image: url();

}

.container a{
  text-decoration: none;
}

header .dropdown{
    text-align: center;
}

#menu {
  text-align: center;
  
}