body{
    margin: 0px;
    padding: 0px;
    background-color: #ff6666;
}

#formulario_necesidades, #formulario, #resultados{
    margin: auto;
    padding: 20px;
    border: 1px #212931 solid;
    border-radius: 15px;
    background-color: #ffcccc;
    width: 60%;
}

#formulario input{
    display: block;
    padding: 6px;
    margin: 5px;
}

#resultados{
   height: auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: flex-end;
   margin-top: 15px;
}

#resultados .barras{
    width: 18%;
    /*border: 3px #000000 solid;*/
    /*float: left;*/
    box-sizing: border-box;
    /*margin: 1%;*/
    text-align: center;
    vertical-align: central;
    color: #EAEAE8;
    overflow: hidden;
    padding: 10px;
}
.borrar{
    float: none;
    clear: both;
}